<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Pay My Buddy-login</title>

<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/73c8e5a929.js"></script>

</head>

<body>
	<div class="container align-self-center">
		<div class="row vh-100 d-flex align-items-center">
			<div class="mx-auto text-center element">
				<div>
					<img src="logo.png" class="logo mb-5">
				</div>

				<div class="inner-addon left-addon">
				<i class="far fa-envelope"></i>
				<input type="email" class="form-control formulaire mb-4"
					placeholder="Email">
				</div>
				<div class="inner-addon left-addon">
				<i class="fas fa-asterisk"></i>
				<input type="password"
					class="form-control formulaire mb-5" placeholder="Password">
				</div>
				<div class="checkbox">
					<input type="checkbox" class="form-check-input" checked> <label
						class="form-label">Remember me</label>
				</div>
				<div>
					<input class="couleurbouton" type="Submit" value="Login">
						
				</div>
			</div>
		</div>
	</div>
	<script src="assets/bootstrap/js/jquery-3.4.1.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>